<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/inicio/menu-cobertura"></ion-back-button>
    </ion-buttons>
    <ion-title>Cobertura Médica</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <form #fCotizar="ngForm" (ngSubmit)="cotizar(fCotizar)">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="12">{{titulo}}</ion-col>
      </ion-row>
      <ion-item-group>
        <ion-item-divider>

        </ion-item-divider>


        <ion-row>
          <ion-col size="12">
            <ion-label>Incluir integrantes Grupo Familiar:</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">

            <ion-select interface="popover"
                        name="grupoFamiliar"
                        [(ngModel)]="grupoFamiliar"
                        placeholder="Seleccionar grupo familiar"
                        required>
              <ion-select-option class="select" *ngFor="let b of gruposFamiliar" [value]="b">{{b.DescripSevi}}
              </ion-select-option>
            </ion-select>

          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12">
            <ion-label>Favor Indicar:</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-label>Cónyugue</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-toggle></ion-toggle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-label>Hijos mayores 22 años</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-toggle></ion-toggle>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-row>
            <ion-col size="12">
            </ion-col>
            <ion-label>Agregar Beneficiarios/Adherentes:</ion-label>
          </ion-row>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-select [multiple]="true"
                            name="adherente"
                            (ionChange)="agregarAdherente($event)"
                            placeholder="Seleccionar adherentes"
                            required>
                  <ion-select-option *ngFor="let a of adherentes;let i =index"
                                     [value]="a"
                  >{{a.DescripSevi}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-item-group>

    </ion-grid>

    <ion-grid>
      <ion-row class="contentgrid--cell">
        <ion-col class="ion-text-center" size="6">Adherente</ion-col>
        <ion-col class="ion-text-center" size="6">Monto</ion-col>
      </ion-row>
      <ion-row *ngFor="let a of adherentesAgregado;let i= index">
        <ion-col class="ion-text-center" size="8">{{a.DescripSevi}}
          <div class="flex">
            <div>
              <ion-button color="medium" (click)="decrementarValor(i)">
                -
              </ion-button>
            </div>
            <div class="flex__cantidad">
              <ion-input type="text" id="{{i}}" name="cantidad" value="1"></ion-input>
            </div>
            <div>
              <ion-button color="medium"  (click)="incrementarValor(i)">
                +
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col class="ion-text-right" size="4">{{a.Monto | currency:'PYG':'symbol-narrow':'1.2-2'}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6">Total:</ion-col>
        <ion-col class="ion-text-right" size="6">{{importeTotal | currency:'PYG':'symbol-narrow':'1.2-2'}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="4">Forma de pago:</ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label>Seleccione forma de pago</ion-label>
            <ion-select interface="popover" 
                        name="formaPago"
                       [(ngModel)]="formaPago"
                       required>
              <ion-select-option *ngFor="let f of formasPago"
                                 [value]="f"
                                 >{{f.formaPagoDesc}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" type="submit">
            Cotizar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>