<ion-grid slot="" class="contentgrid" *ngFor="let d of detalle">
  <ion-row class="contentgrid__comentario">
      <ion-col size="12">{{d.comentario}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="6" class="contentgrid--cell">Nro. Documento:</ion-col>
      <ion-col size="6" class="contentgrid--cell">{{d.nroDoc}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="6" class="contentgrid--cell">Monto:</ion-col>
      <ion-col size="6" class="contentgrid--cell">{{d.monto | number: '2.'}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="6" class="contentgrid--cell">Cuota</ion-col>
      <ion-col size="6" class="contentgrid--cell">{{d.cuota}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="6" class="contentgrid--cell">Saldo</ion-col>
      <ion-col size="6" class="contentgrid--cell">{{d.saldo | number: '2.'}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="6" class="contentgrid--cell">Interes</ion-col>
      <ion-col size="6" class="contentgrid--cell">{{d.interes | number: '2.'}}</ion-col>
  </ion-row>
</ion-grid>