<ion-content>
  <ion-grid class="contentheader">
    <ion-row>
      <ion-col class="ion-align-self-center" size="12"><img src="./../../../assets/imgs/ic_notification_asotigo.png"></ion-col>
    </ion-row>
    <!-- <ion-row class="contentheader_row">
      <ion-col class="contentheader__col contentheader__col--asotigo">AsotiGo</ion-col>
    </ion-row>
    <ion-row class="contentheader_row">
      <ion-col class="contentheader__col contentheader__col--asociados">Asociados</ion-col>
    </ion-row> -->
  </ion-grid>

  <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
    <ion-grid class="contentgrid">

      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nro. Documento</ion-label>
              <ion-input name="documento" type="text" [(ngModel)]="usuario.documento" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Clave</ion-label>
              <ion-input name="clave" type="password" [(ngModel)]="usuario.clave" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button class="contentgrid_btn" expand="block" shape="round" type="submit">
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>