<ion-content class="contenedor" scrollY="false">
  <ion-grid class="contentheader">
    <ion-row>
      <ion-col class="ion-text-center" size="12"><img src="./../../../assets/imgs/Logo Asotigo blanco.png"></ion-col>
    </ion-row>

  </ion-grid>
  <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
    <ion-grid class="contentgrid">

      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nro. Documento</ion-label>
              <ion-input name="documento" type="text" 
                         [(ngModel)]="usuario.documento"
                         autocomplete="on"
                         required></ion-input>
              <ion-icon slot="start" name="people"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Clave</ion-label>
              <ion-input name="clave" [type]="typeInput" [(ngModel)]="usuario.clave" required></ion-input>
              <ion-icon slot="start" 
                        [name]="nameIcon"
                        (click)="toggleShow()"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item lines="none">
              <ion-label slot="end">Recordar</ion-label>
              <ion-toggle color="primary"
                          name="recordarSesion"
                          [(ngModel)]="usuario.recordarSesion"
                          slot="end">
              </ion-toggle>
            </ion-item>
        </ion-list>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button class="contentgrid_btn" expand="block" shape="round" type="submit">
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>